.icon-only-button {
    --background: transparent;
    margin-right: 30px;
}
.gray-background {
    --background: #c4c4c4;
}  

ion-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .message-list {
    flex: 1;
    overflow: auto; /* Permite que la lista de mensajes se desplace si es necesario */
  }
  
  .bottom-input {
    margin-top: auto; /* Empuja el contenido al final del contenedor */
    background-color: white; /* Asegura que el fondo sea blanco para el input */
  }
  
  .input-align {
    width: 100%; /* Ocupa todo el ancho del contenedor */
  }