<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: rgba(62, 71, 60, 1);">
      <ion-button class="icon-only-button" shape="round">
        <ion-icon slot="icon-only" name="arrow-back-outline" style="color: white;"></ion-icon>
      </ion-button>  
      <span style="color: white;">PROMO2021-FACYT</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gray-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">group</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let message of messages"> 
      <ion-label>
        <h2>{{ message.sender }}</h2> 
        <p>{{ message.content }}</p> 
        <ion-note slot="end">{{ message.sent_at }}</ion-note> 
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="bottom-input">
    <ion-list>
      <ion-item>
        <ion-input class="input-align" placeholder="Enter text"></ion-input>
      </ion-item>
    </ion-list>
  </div>

</ion-content>