.btn-ingresar {
    --background: #ff5733; /* Cambia el color de fondo */
    --color: #ffffff; /* Cambia el color del texto */
    --border-color: #ff5733; /* Cambia el color del borde si es necesario */
  }