<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido" >
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="user.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pasword</ion-label>
    <ion-input [(ngModel)]="user.password" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="validar()" color="primary" shape="round" class="btn-ingresar">
    Ingresar
  </ion-button>
</ion-content>
